


input + #email + #Help{
    display: none;
}
input:valid + #email{
    display: none;
}
input:valid +#email + #Help{
    display: inline;
}
#Help{
    color: rgb(62, 176, 62);
    text-shadow: 2px 2px 3px rgb(122, 248, 122);
}
#email{
    color: rgb(13, 71, 248);
}
input{
    width: 50%;
}
form{
    max-width: 60vh;
    box-shadow: 0px 0px 3px slategray;
    background-color: rgb(247, 240, 233);
    
}
#Help>label{
    border-bottom: 2px solid rgb(72, 165, 72);
    
}


